input {
    height: 45px;
    width: 100%;
    font-size: 14px;
    color: #385983;
    line-height: 16px;
    border: 2px solid #e9f2ff;
    border-radius: 5px;
    padding-left: 25px;
}
input:focus{
    outline: none;
    border: 2px solid #c1d9fd
}
main {
    background-color: #f1f5fe;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-title{
    color: #305070;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 30px;
}

.form-field{
    margin-bottom: 15px;
}
